/* body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,235,200,1) 0%, rgba(1,243,228,1) 37%, rgba(243,0,255,1) 84%);
} */
body{
    background-image: url("Assets/Images/Wiretap.jpg");
}
#home-bg-video{
    position: fixed;
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    background: url('/Assets/Images/grass.jpg') no-repeat;
}
#font1{
    font-family: 'Space Mono', monospace;
}
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bd-violet-bg);
    --bs-popover-header-bg: var(--bd-violet-bg);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
  }